.day-view {
  text-align: center;
  overflow: hidden;

  .month-name {
    width: 100%;
    background: $primary;
    color: #fff;
    line-height: 2;
  }
}

.day {
  font-size: 72px;
  padding: 34px 0;
  font-weight: 800;
}