.day-view,
.month-view {
  border: solid 1px #ddd;
  display: inline-block;
  width: 49%;
  margin: 0 0 0 0;
  height: 100%;
}

.day-view {
  text-align: center;
  overflow: hidden;
  .month-name {
    width: 100%;
    border-bottom: solid 1px #eee;
    line-height: 2;
  }
}

.day {
  font-size: 64px;
  padding-top: 15%;
}