.month-view {
	overflow: hidden;
	header {
		position: relative;
		text-align: center;
		width: 100%;
		color: #fff;
		line-height: 2;
		background: $primary;
	}
}

.day-letters {
	padding: 0 0 0 0;
	list-style: none;
	margin: 0 0 0 0;
	background: $primary-light;
	height: 14px;
	overflow: hidden;
	li {
		padding: 0;
		display: inline-block;
		width: 14.285714286%;
		font-size: 8px;
		font-weight: 300;
		text-align: center;
		line-height: 14px;
		vertical-align: top;
		color: #fff;
	}
}

.week {
	display: block;
}

.month-day {
	-webkit-transition: all .2s;
	width: 14.285714286%;
	overflow: hidden;
	display: inline-block;
	font-size: 11px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	border: solid 1px rgba(#000,.05);
	border-top: none;
	border-left: none;
	vertical-align:top;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	
	&#active-day {
		background: $primary-light;
		color: #fff;
		box-shadow: 0 0 0 3px $primary-light;
		border-right: none;
		border-bottom: none;
		font-size: 14px;
	}

	&:hover {
		@include min-breakpoint(700px){	background: #eee;}
	}
	
	&:active {
		@include min-breakpoint(700px){box-shadow: 0 0 0 6px #eee;}
	}
}


//Navigation Buttons on the right and left of Month View Header
.left-nav,
.right-nav {
	position: absolute;
	height: 100%;
	width: 24px;
	top: 0;
	text-decoration: none;
	font-size: 8px;
	line-height: 2rem;
	color: #fff;
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		height: 0; width: 0;
		top: 1em;
		border: 6px solid transparent;
	
	}
}

.left-nav {left: 0;}
.right-nav {right: 0;}

.left-nav:before {
	left: 3px;
	top: 8px;
	border-right: 8px solid #fff;
}

.right-nav:before {
	right: 3px;
	top: 8px;
	border-left: 8px solid #fff;
}