.day-letters {
	padding: 0 0 0 0;
	list-style: none;
	margin: 0 0 0 0;
	background: $primary-light;
	height: 14px;
	overflow: hidden;
	li {
		padding: 0;
		display: inline-block;
		width: 14.285714286%;
		font-size: 8px;
		font-weight: 300;
		text-align: center;
		line-height: 14px;
		vertical-align: top;
		color: #fff;
	}
}

.month-day {
	-webkit-transition: all .5s;
	width: 14.285714286%;
	overflow: hidden;
	display: inline-block;
	font-size: 11px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	border: solid 1px rgba(#000,.05);
	border-top: none;
	border-left: none;
	vertical-align:top;
	text-decoration: none;
	color: #000;
	&#active-day {
		background: $primary-light;
		color: #fff;
		box-shadow: 0 0 0 3px $primary-light;
		border-right: none;
		border-bottom: none;
	}
	&:hover {
		background: #eee;
	}
	&:active {
		
		// background: #444;
		// color: #fff;
		box-shadow: 0 0 0 6px #eee;
	}
}

.week {
	display: block;
}

.month-view {
	overflow: hidden;

	header {
		position: relative;
		text-align: center;
		width: 100%;
		color: #fff;
		line-height: 2;
		background: $primary;
	}
}

.left-nav,
.right-nav {
	position: absolute;
	height: 100%;
	width: 24px;
	text-decoration: none;
	font-size: 8px;
	line-height: 2rem;
	color: #fff;
}

.left-nav {left: 0;}

.right-nav {right: 0;}