#calendar {
  display: block;
  max-width: 100%;
  vertical-align: top;
  height: 191px; }
  @media screen and (min-width: 500px) {
    #calendar {
      width: 400px; } }

.day-view,
.month-view {
  border: solid 1px #DC3023;
  height: 100%;
  vertical-align: top; }
  @media screen and (max-width: 500px) {
    .day-view,
    .month-view {
      margin-bottom: 20px; } }
  @media screen and (min-width: 500px) {
    .day-view,
    .month-view {
      display: inline-block;
      width: 49%; } }

.day-view {
  text-align: center;
  overflow: hidden; }
  .day-view .month-name {
    width: 100%;
    background: #DC3023;
    color: #fff;
    line-height: 2; }

.day {
  font-size: 72px;
  padding-top: 34px; }

.month-view {
  overflow: hidden; }
  .month-view header {
    position: relative;
    text-align: center;
    width: 100%;
    color: #fff;
    line-height: 2;
    background: #DC3023; }

.day-letters {
  padding: 0 0 0 0;
  list-style: none;
  margin: 0 0 0 0;
  background: #e3594f;
  height: 14px;
  overflow: hidden; }
  .day-letters li {
    padding: 0;
    display: inline-block;
    width: 14.285714286%;
    font-size: 8px;
    font-weight: 300;
    text-align: center;
    line-height: 14px;
    vertical-align: top;
    color: #fff; }

.week {
  display: block; }

.month-day {
  -webkit-transition: all .2s;
  width: 14.285714286%;
  overflow: hidden;
  display: inline-block;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-top: none;
  border-left: none;
  vertical-align: top;
  text-decoration: none;
  color: #000; }
  .month-day#active-day {
    background: #e3594f;
    color: #fff;
    box-shadow: 0 0 0 3px #e3594f;
    border-right: none;
    border-bottom: none;
    font-size: 14px; }
  .month-day:hover {
    background: #eee; }
  .month-day:active {
    box-shadow: 0 0 0 6px #eee; }

.left-nav,
.right-nav {
  position: absolute;
  height: 100%;
  width: 24px;
  text-decoration: none;
  font-size: 8px;
  line-height: 2rem;
  color: #fff; }

.left-nav {
  left: 0; }

.right-nav {
  right: 0; }

* {
  box-sizing: border-box; }

body {
  padding: 40px;
  font-family: sans-serif; }
