body {
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
  border-top: solid 3px #e3594f;
  margin: 0 0 0 0; }

a.github-link {
  transition: all .2s;
  display: inline-block;
  line-height: 24px;
  padding: 0 10px;
  color: #e3594f;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #e3594f; }
  a.github-link:hover {
    background: #e3594f;
    color: #fff; }
  a.github-link:active {
    background: #DC3023; }
